{% extends './_includes/scaffholding.html' %}

{% block content %}
<article class="panel is-primary">
    <p class="panel-heading">
        Add New User
    </p>

    <div class="panel-block">
        <div class="container">
            <div class="content" style="padding:10px;">
                <form method="POST" action="">
                    <div class="control">
                        <label class="label">Name</label>
                        <input class="input" type="text" name="name" id="name">
                    </div>
                    <div class="control">
                        <div class="control">
                            <label class="label">Branch</label>
                            <select name="branch" id="branch">
                                {% for b in branches %}
                                <option value="{{b.id}}">{{b.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="control">
                        <label class="label">Telephone Number</label>
                        <input class="input" type="text" name="telephone" id="telephone">
                    </div>
                    <div class="control">
                        <label class="label">Email</label>
                        <input class="input" type="text" name="email" id="email">
                    </div>
                    <div class="control">
                        <label class="label">Username</label>
                        <input class="input" type="text" name="username" id="username">
                    </div>
                    <div class="control">
                        <label class="label">Password</label>
                        <input class="input" type="password" name="password" id="password">
                    </div>

                    <div class="control" style="margin-top: 2%;">
                        <button class="button is-link">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</article>
{% endblock %}